@import '../Variables';

.login{
  width: 100vw;
  height: 70vh;

  display: grid;
  place-items: center;

  background-image: linear-gradient(-45deg, $colot-secondary,$color-primary);
  &__container{
    max-width: 22rem;
    color: #ffff;
    font-weight: 500;
    ;
  }
  .login__button{
    background-color: #589f44;
    border: none;
    }
  
}