@import '../Variables';

.navbar{
  background-color: $color-primary;
  border-bottom: 0.2rem solid $colot-secondary;

  .dropdown-toggle ,.nav-link{
    color: #ffff;
  }

  .dropdown-toggle:hover ,.nav-link:hover{
    color: #212529;
  }

  .navbar-collapse {
    .mr-auto{
      flex: 1;
    }
  }
  
}
